<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <title>ExplorifAi</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script async="false" defer src="https://maps.googleapis.com/maps/api/js?key=&libraries=marker,maps,geocoding&callback=initMap"></script>

        <style>
            #search_map {
                height: 90%;
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1; 
            }

            .toast {
                position: fixed; 
                top: 10px; 
                right: 10px;
                min-height: 100px;
                backdrop-filter: blur(10px);
                z-index: 1000; 
            }

            .toast-header {
                background-color: #004d7a;
                color: #fff;
            }
        </style>
    </head>

    <body>
        <!-- Navigation Bar -->
        {% include "navbar.html" %}


        <!-- <input id="latlng" type="text" value="40.714224,-73.961452" /> -->

        <!-- Sidebar -->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="address-display"></div>
                <div class="description-display"></div>
            </div>
        </div>

        <!-- Toast Popup -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="{% static 'magnifying_glass.jpg' %}" class="rounded me-2" alt="..." style="width:2vw;height:3vh;">
                <strong class="me-auto">Location Discovered</strong>
                <small>Ready!</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                <!-- This location has been discovered. -->
              </div>
            </div>
        </div>

        <!-- Main HTML -->

        <!-- <div id="map-container"> -->
            <div class="d-flex" id="search_map"></div>
        <!-- </div> -->

        <!-- Map JS -->
        <script>
            let map;
            let marker;

            let markerList = [];

            async function initMap() {
                const { Map } = await google.maps.importLibrary("maps");
                const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

                let UVA = { lat: 38.03417823939488, lng: -78.50802011454928 };
                map = new google.maps.Map(document.getElementById('search_map'), {
                    zoom: 14,
                    center: UVA,
                    mapid: '',
                    // mapId: '1762bfc6a30416d6', // DEMO_MAP_ID for testing
                    
                });

                map.addListener("click", (e) => {
                    placeMarker(e.latLng, geocoder, map);
                });

                const geocoder = new google.maps.Geocoder();
                // const infowindow = new google.maps.InfoWindow();

                // map.addListener('click', (e) => {
                //     geocodeLatLng(geocoder, map, infowindow, e.latlng);
                // });
            }

            async function placeMarker(loc, geocoder, map, infowindow) {
                // Request libraries
                const { Map } = await google.maps.importLibrary("maps");
                const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
                const { Geocoder } = await google.maps.importLibrary("geocoding")
                
                //Image Marker
                // const advMarkerIMG = document.createElement("img");
                // advMarkerIMG.src = "https://cdn-icons-png.flaticon.com/512/9922/9922093.png";
                // advMarkerIMG.style.width = "2rem";
                // advMarkerIMG.style.height = "2rem";

                const marker = new google.maps.Marker({
                    position: loc,
                    map,
                    title: "",
                    // content: advMarkerIMG,
                });

                // For testing
                // const clickedLatLng = marker.getPosition();
                // const clickedLat = clickedLatLng.lat();
                // const clickedLng = clickedLatLng.lng();
                // console.log("Clicked Latitude:", clickedLat);
                // console.log("Clicked Longitude:", clickedLng);

                // Extra data for each marker
                marker.data = {
                    address: "",
                    description: "",
                };

                markerList.push(marker);

                marker.addListener('click', function () {
                    // Get a reference to the offcanvas and trigger the toggle
                    const offcanvas = new bootstrap.Offcanvas(document.getElementById("offcanvasScrolling"));
                    offcanvas.toggle();

                    // Edit the contents of the offcanvas
                    const offcanvasTitle = document.querySelector(".offcanvas-title");
                    offcanvasTitle.innerHTML = marker.title;

                    // Display address
                    const addressBody = document.querySelector(".address-display");
                    addressBody.innerHTML = "";

                    const display_address = document.createElement("p");
                    display_address.innerHTML = marker.address;
                    addressBody.appendChild(display_address);

                    // Display description
                    const descriptionBody = document.querySelector(".description-display");
                    descriptionBody.innerHTML = "";

                    const display_description = document.createElement("p");
                    display_description.innerHTML = "Description: " + marker.description;
                    descriptionBody.appendChild(display_description);
                });

                geocodeLatLng(geocoder, map, loc, marker);
            }

            async function geocodeLatLng(geocoder, map,clickedLatLng, marker) {
                // console.log(latlng);
                // const location = {
                //     lat: lat,
                //     lng: lng,
                // };
                geocoder
                    .geocode({ location: clickedLatLng })
                    .then((response) => {
                    if (response.results[0]) {
                        // map.setZoom(11);

                        // const marker = new google.maps.Marker({
                        //     position: latlng,
                        //     map: map,
                        // });
                        marker.address = "Address: " + response.results[0].formatted_address;
                        sendAddressToDjango(marker.address);
                        // infowindow.setContent(response.results[0].formatted_address);
                        // infowindow.open(map, marker);
                    } else {
                        window.alert("No results found");
                    }
                    })
                    .catch((e) => window.alert("Geocoder failed due to: " + e));

                function sendAddressToDjango(address) {
                    // const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                    fetch('/process_address/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            // 'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({ address: address }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Handle the response from Django
                        const parsedData = JSON.parse(data.processed_data);
                        updatePage(parsedData.historical_description);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }

                function updatePage(description) {
                    // Update the page with the processed data from Django
                    
                    // Toast Notification 
                    // const toastLiveExample = document.getElementById('liveToast');
                    // const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
                    // toastBootstrap.show();

                    marker.description = description;
                }
            }
        </script>

        
        <!-- Footer -->
        {% include "footer.html" %}
    </body>

</html>